/************* PARAMETRES *************/
/**************** CODE *****************/
body {
  margin: 0;
  background: #FFFFF3; }

header {
  display: flex;
  width: 80%;
  margin: 30px auto 0 auto;
  border: #41D3BD solid 5px; }

img.mabouille {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  align-self: center;
  margin: 15px; }

header .title {
  flex: 1; }

header h1 {
  font-family: Roboto;
  color: #41D3BD;
  font-size: 68px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 12px; }

header h3 {
  font-family: Roboto;
  color: #DE6449;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 21px; }

/************ RESPONSIVE HEADER ***********/
@media screen and (max-width: 1060px) {
  header {
    width: 90%; }

  header h1 {
    font-family: Roboto;
    color: #41D3BD;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    letter-spacing: 5px; }

  header h3 {
    font-family: Roboto;
    color: #DE6449;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 6px; } }
@media screen and (max-width: 470px) {
  header {
    display: flex;
    flex-direction: column; } }
@media screen and (max-width: 310px) {
  header h1 {
    font-family: Roboto;
    color: #41D3BD;
    font-size: 20px;
    font-weight: 900; } }
/************** MAIN ****************/
main {
  width: 80%;
  margin: auto; }

main section {
  padding: 30px 0;
  border-bottom: #41D3BD solid 2px;
  display: inline-block; }

main section.intro {
  width: 100%;
  margin: auto;
  font-family: Roboto;
  color: #DE6449;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 2px;
  padding: 20px 0; }

section.left {
  width: 39%; }

section.right {
  width: 59%; }

main section.forma, section.expPro {
  float: right; }

p.secTitle {
  font-family: Roboto;
  color: #41D3BD;
  font-size: 20px;
  font-weight: 900;
  width: 100%; }

.secTinyTitle {
  font-family: Roboto;
  color: #41D3BD;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1.3px; }

ul {
  padding: 0; }

ul li {
  list-style: none;
  line-height: 2px; }

p.secDate {
  font-family: Roboto;
  color: #DE6449;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: .8px;
  margin-left: 35px; }

.secContent, .secContent a, ul li {
  font-family: Roboto;
  color: #DE6449;
  font-size: 14px;
  font-weight: 400;
  margin-top: 20px; }

.secContent span, ul li span {
  font-family: Roboto;
  color: #DE6449;
  font-size: 14px;
  font-weight: 300;
  margin-left: 20px; }

.skill {
  display: flex;
  flex-wrap: wrap;
  width: 39%; }

.skill .skillSec {
  margin-top: 5px;
  right: 0;
  margin-left: 100px; }

.skillPoint {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 10px; }

.ok {
  background-color: #DE6449; }

.nope {
  background-color: #41D3BD; }

.hobbies {
  width: 39%; }

@media screen and (max-width: 800px) {
  section.left, section.right {
    width: 100%;
    float: left;
    padding: 5px; }

  .skill .skillSec {
    margin-left: 50px; } }
@media screen and (max-width: 280px) {
  .skill .skillSec {
    margin-left: 10px; }

  p.secTitle {
    font-family: Roboto;
    color: #41D3BD;
    font-size: 16px;
    font-weight: 900; }

  main {
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
