/************* PARAMETRES *************/

$mainColor : #41D3BD;
$secondColor : #DE6449;
$bgColor : #FFFFF3;

$boldBorder : $mainColor solid 5px;
$lightBorder :  $mainColor solid 2px;

@mixin font($fontColor, $fontSize, $fontWeight) {
  font-family: Roboto;
  color: $fontColor;
  font-size: $fontSize;
  font-weight: $fontWeight;

}

/**************** CODE *****************/

body{
  margin: 0;
  background: $bgColor;
}

header{
  display: flex;
  width: 80%;
  margin: 30px auto 0 auto;
  border: $boldBorder;
}

img.mabouille {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  align-self: center;
  margin: 15px;
}

header .title{
  flex: 1;
}

header h1{
  @include font($mainColor, 68px, 900);
  text-align: center;
  letter-spacing: 12px;
}

header h3{
  @include font($secondColor, 16px, 400);
  text-align: center;
  letter-spacing: 21px;
}

/************ RESPONSIVE HEADER ***********/

@media screen and (max-width: 1060px) {
  header{
    width: 90%;
  }
  header h1{
    @include font($mainColor, 50px, 900);
    text-align: center;
    letter-spacing: 5px;
  }
  header h3{
    @include font($secondColor, 14px, 400);
    text-align: center;
    letter-spacing: 6px;
  }
}
@media screen and (max-width: 470px) {
  header{
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 310px){
  header h1{
    @include font($mainColor, 20px, 900);
  }
}

/************** MAIN ****************/

main{
  width: 80%;
  margin: auto;
}

main section{
  padding: 30px 0;
  border-bottom: $lightBorder;
  display: inline-block;
}

main section.intro{
  width: 100%;
  margin: auto;
  @include font($secondColor, 15px, 400);
  text-align: center;
  letter-spacing: 2px;
  padding: 20px 0;
}

section.left{
  width: 39%;
}

section.right{
  width: 59%;
}

main section.forma, section.expPro{
  float: right;
}

p.secTitle{
  @include font($mainColor, 20px, 900);
  width: 100%;
}

.secTinyTitle{
  @include font($mainColor, 15px, 400);
  letter-spacing: 1.3px;
}

.secContent a{
  @extend .secContent;
}

ul{
  padding: 0;
}

ul li{
  @extend .secContent;
  list-style: none;
  line-height: 2px;
}

p.secDate{
  @include font($secondColor, 12px, 300);
  letter-spacing: .8px;
  margin-left: 35px;
}

.secContent{
  @include font($secondColor, 14px, 400);
  margin-top: 20px;
}

.secContent span{
  @include font($secondColor, 14px, 300);
  margin-left: 20px;
}

.skill{
  display: flex;
  flex-wrap: wrap;
  width: 39%;
}

.skill .skillSec{
  margin-top: 5px;
  right: 0;
  margin-left: 100px;
}

.skillPoint{
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-top: 10px;
}

.ok{
  background-color: $secondColor;
}

.nope{
  background-color: $mainColor;
}

.hobbies{
  width: 39%;
}

@media screen and (max-width: 800px){
  section.left, section.right{
    width: 100%;
    float: left;
    padding: 5px;
  }
  .skill .skillSec{
    margin-left: 50px;
  }
}

@media screen and (max-width: 280px){
  .skill .skillSec{
    margin-left: 10px;
  }
  p.secTitle{
    @include font($mainColor, 16px, 900);
  }
  main{
    width: 100%;
  }
}
